@font-face {
    font-family: 'infiniti_brandbold';
    src: url('./src/fonts/infinitibrandcy-bold-webfont.woff2') format('woff2'),
         url('./src/fonts/infinitibrandcy-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'infiniti_brandlight';
    src: url('./src/fonts/infinitibrandcy-light-webfont.woff2') format('woff2'),
         url('./src/fonts/infinitibrandcy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'infiniti_brandregular';
    src: url('./src/fonts/infinitibrandcy-regular-webfont.woff2') format('woff2'),
         url('./src/fonts/infinitibrandcy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoonregular';
    src: url('./src/fonts/infiniti-global_1-webfont.woff2') format('woff2'),
         url('./src/fonts/infiniti-global_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}