.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10%;
    z-index: 1;
    opacity: .6;
    transition: .2s ease opacity;

    .light & {
        opacity: 1;
    }

    &_video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}
