.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10%;
    z-index: 1;
    transition: .2s ease opacity;

    .dark & {
        opacity: .5;
    }

    &_video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    &_city {
        background: url(#{$img-path}/city.png) no-repeat left center;
        background-size: 100% auto;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
    }
}