.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10%;
    z-index: 1;

    &_video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    &_city {
        background: url(#{$img-path}/city.png) no-repeat right bottom;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
    }
}