.car {
    position: absolute;
    bottom: 15%;
    left: 50%;
    height: 303px;
    width: 830px;
    z-index: 2;

    .loaded & {
        animation: 2.5s ease-in-out car-appearance forwards;
                   //10s ease-in-out car-moving 2.5s infinite forwards;
    }
    .light & {
        animation: 2.5s ease car-speed-down forwards;
    }
    .dark & {
        animation: 2.5s ease car-speed-up forwards;
    }
    &__small {
        animation: none;
        position: relative;
        left: 0;
        bottom: 0;
        height: 107px;
        width: 280px;
        margin: auto;
    }
    &::before {
        content: '';
        background: url(#{$img-path}/car-white.png) no-repeat center 0;
        background-size: 100% auto;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
    &::after {
        content: '';
        background: url(#{$img-path}/car.png) no-repeat center 0;
        background-size: 100% auto;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .2s ease opacity;
        z-index: 1;
    }
    &__small::after,
    .dark &::after {
        opacity: 1;
    }

    &_wheel {
        background: url(#{$img-path}/wheel.png) no-repeat;
        background-size: 100% auto;
        position: absolute;
        bottom: 8px;
        height: 130px;
        width: 130px;
        filter: url(#{$img-path}/filters.svg#wheel-blur);
        z-index: 2;

        .loaded & {
            animation: .4s ease-in wheel,
                       .3s linear wheel .4s,
                       .2s linear wheel .7s infinite;
        }
        .dark & {
            animation: .2s ease-in wheel-speed-change,
                       .15s linear wheel .2s infinite;
        }
        .light & {
            animation: .15s ease-out wheel-speed-change,
                       .2s linear wheel .2s infinite;
        }
        .car__small & {
            animation: .2s linear wheel infinite;
            height: 45px;
            width: 45px;
        }
        &__back {
            left: 13.7%;
        }
        &__front {
            right: 14.1%;
        }
    }
    &_light {
        background: url(#{$img-path}/light.png) no-repeat;
        background-size: 100% auto;
        position: absolute;
        left: 86%;
        bottom: 38%;
        height: 146px;
        width: 639px;
        opacity: 0;
        transition: .3s ease-out opacity;
        z-index: 2;

        .car__small & {
            background-image: url(#{$img-path}/light-small.png);
            height: 261px;
            width: 1040px;
            bottom: -99px;
            left: 90%;
            opacity: 1;
        }
        .dark & {
            opacity: 1;
        }
    }
}

@keyframes car-appearance {
    0% {
        transform: translateX(-200%);
    }
    50% {
        transform: translateX(-40%);
    }
    80% {
        transform: translateX(-55%);
    }
    100% {
        transform: translateX(-50%);
    }
}
@keyframes car-moving {
    0% {
        transform: translateX(-50%);
    }
    20% {
        transform: translateX(-52%);
    }
    30% {
        transform: translateX(-48%);
    }
    51% {
        transform: translateX(-53%);
    }
    66% {
        transform: translateX(-49%);
    }
    100% {
        transform: translateX(-50%);
    }
}
@keyframes car-speed-up {
    0% {
        transform: translateX(-50%);
    }
    30% {
        transform: translateX(-40%);
    }
    100% {
        transform: translateX(-50%);
    }
}
@keyframes car-speed-down {
    0% {
        transform: translateX(-50%);
    }
    30% {
        transform: translateX(-60%);
    }
    100% {
        transform: translateX(-50%);
    }
}
@keyframes wheel {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
@keyframes wheel-speed-change {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}