.car {
    animation: none;
    background: url(#{$img-path}/car.png) no-repeat center 0;
    background-size: 88% auto;
    position: absolute;
    bottom: 18%;
    left: 50%;
    height: 303px;
    width: 867px;
    z-index: 2;
    transform: translateX(-200%);
    transition: 1.5s ease-in-out transform;

    .start-moving & {
        transform: translateX(-50%);
    }
    .init & {
        transform: translateX(-100%);
    }
    .freeze & {
        animation: none;
    }

    &_wheel {
        animation: 1.5s ease-in-out wheel-appearance;
        background: url(#{$img-path}/wheel.png) no-repeat;
        background-size: 100% auto;
        position: absolute;
        bottom: 6px;
        height: 130px;
        width: 130px;

        .slow-speed & {
            animation: .8s ease-in wheel-active, .5s linear wheel-active .8s infinite;
        }
        .freeze & {
            animation-timing-function: ease-out;
            animation-duration: .8s;
            animation-fill-mode: forwards;
        }

        &__back {
            left: 128px;;
        }
        &__front {
            right: 124px;;
        }
    }
    &_light {
        background: url(#{$img-path}/light.png) no-repeat;
        background-size: 100% auto;
        position: absolute;
        left: 86%;
        bottom: 116px;
        height: 146px;
        width: 639px;
        opacity: 0;
        transition: .3s ease-out opacity;

        .fast-speed & {
            opacity: 1;
        }
    }
}

@keyframes car-appearance {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes car-active {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes wheel-appearance {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes wheel-active {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
