.content {
    background: rgba(0, 0, 0, .1);
    box-sizing: border-box;
    display: flex;
    height: 75vh;
    position: relative;
    opacity: 0;
    z-index: 1;
    transition: 1s ease 2s opacity;

    .faded & {
        opacity: 1;
    }

    &::before {
        content: '';
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 80px;
        transform: translateY(-100%);
        transition: .3s ease-in-out transform 1s;
        z-index: 3;

        @include mobile {
            height: 68px;
            transform: translateY(0);
        }
    }

    .scrolled &::before {
        transform: translateY(0);
    }

    &_left {
        flex-grow: 1;
        position: relative;
        z-index: 2;
        background: rgba(0, 0, 0, .7);

        .scrolled & {
            animation: .3s ease-in-out side-light 1s forwards,
                .3s ease-in-out side-dark 4.5s forwards;
        }

        [data-slide="6"] & {
            animation: .3s ease-in-out side-extra-dark 1s forwards;
        }
    }

    &_right {
        flex-grow: 1;
        position: relative;
        z-index: 2;
        background: rgba(0, 0, 0, .7);

        .scrolled & {
            animation: .3s ease-in-out side-light 1s forwards;
        }

        [data-slide="6"] & {
            animation: .3s ease-in-out side-extra-dark 1s forwards;
        }
    }

    &_intro {
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 100px 50px 50px;
        z-index: 2;
        transition: .1s ease visibility 1s;

        @include mobile {
            padding-left: 15px;
            padding-right: 15px;
        }

        .scrolled & {
            visibility: hidden;
        }
    }

    &_intro-title {
        text-transform: uppercase;
        max-width: 480px;
        margin: -30px auto 40px;
        opacity: 0;

        @include mobile {
            margin: 0 auto 10px;
            font-size: 21px;
        }

        .faded & {
            animation: .6s ease-in-out text-appearance 2s forwards;
            //filter: url(#{$img-path}/filters.svg#slide-appearance);            
        }

        .scrolled & {
            animation: .6s ease-in-out text-leave forwards;
        }
    }

    &_intro-text {
        font-size: 18px;
        line-height: normal;
        max-width: 580px;
        opacity: 0;

        @include mobile {
            font-size: 14px;
        }

        .faded & {
            animation: .6s ease-in-out text-appearance 2.4s forwards;
            //filter: url(#{$img-path}/filters.svg#slide-appearance);
        }

        .scrolled & {
            animation: .6s ease-in-out text-appearance forwards, .6s ease-in-out text-leave .4s forwards;
        }
    }

    &_step {
        position: absolute;
        left: 0;
        top: 80px;
        bottom: 80px;
        right: 0;
        transform: translate(0, -100%);
        visibility: hidden;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 5vw;

        [data-slide="1"] &__1,
        [data-slide="2"] &__2,
        [data-slide="3"] &__3,
        [data-slide="4"] &__4,
        [data-slide="5"] &__5,
        [data-slide="6"] &__6 {
            animation: .6s ease-in-out step-appearance 3.4s forwards;
            visibility: visible;
            //filter: url(#{$img-path}/filters.svg#slide-appearance);
        }

        [data-old="1"] &__1,
        [data-old="2"] &__2,
        [data-old="3"] &__3,
        [data-old="4"] &__4,
        [data-old="5"] &__5,
        [data-old="6"] &__6 {
            animation: .6s ease-in-out step-leave forwards;
            //filter: url(#{$img-path}/filters.svg#slide-leave);
        }

        &>* {
            transition: .2s ease opacity;
            opacity: .4;
        }

        .light .content_right &>*,
        .dark .content_left &>* {
            opacity: 1;
        }
    }

    &_step-intro {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        transform: translate(0, -100%);
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 5vw;
        z-index: 3;
        visibility: visible;
        transition: 0s ease visibility 5s;

        [data-slide="1"] &__1,
        [data-slide="2"] &__2,
        [data-slide="3"] &__3,
        [data-slide="4"] &__4,
        [data-slide="5"] &__5,
        [data-slide="6"] &__6 {
            animation: .8s ease-in-out step-intro-appearance .3s forwards;
            visibility: hidden;
            //filter: url(#{$img-path}/filters.svg#slide-appearance);
        }

        [data-slide="6"] &__6 {
            visibility: visible;
        }
    }

    &_step-image {
        max-height: 27vh;
        position: relative;
        z-index: 2;
    }

    &_step-image-wrapper {
        position: relative;

        &::after {
            content: '';
            background: url(#{$img_path}/engene-lines.png) no-repeat;
            background-size: contain;
            position: absolute;
            left: 50%;
            height: 100%;
            width: 100%;
            top: 50%;
            transform: translate(-50%, -50%) scale(0);
        }

        [data-slide="1"] &::after {
            animation: 1s ease-in-out engine 3.5s forwards;
        }
    }

    &_step-big-image {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    &_step-title {
        color: #fff;
        font: 32px $font-family__bold;
        display: block;
        margin: 10px 0 20px;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        z-index: 3;
    }

    &_step-text {
        color: #fff;
        text-align: center;
    }

    &_step-title-left {
        color: #fff;
        font: 24px $font-family__bold;
        text-transform: uppercase;
        position: absolute;
        top: 41.5%;
        left: 45%;
        width: 200px;
        text-align: right;
        z-index: 1;
        opacity: 0;
        transition: .2s ease opacity .3s;

        &::before {
            content: '';
            position: absolute;
            border-top: 1px solid #fff;
            width: 140px;
            top: 50%;
            left: 120%;
        }

        [data-slide="1"] .content_step-intro__1 &,
        [data-slide="2"] .content_step-intro__2 &,
        [data-slide="3"] .content_step-intro__3 &,
        [data-slide="4"] .content_step-intro__4 &,
        [data-slide="5"] .content_step-intro__5 & {
            animation: 3s ease-in-out step-title-left .8s forwards;
            opacity: 1;
        }
    }

    &_step-title-right {
        color: #fff;
        font: 24px $font-family__bold;
        text-transform: uppercase;
        position: absolute;
        top: 41.5%;
        right: 45%;
        width: 200px;
        z-index: 1;
        opacity: 0;
        transition: .2s ease opacity .3s;

        &::before {
            content: '';
            position: absolute;
            border-top: 1px solid #fff;
            width: 140px;
            top: 50%;
            right: 120%;
        }

        [data-slide="1"] .content_step-intro__1 &,
        [data-slide="2"] .content_step-intro__2 &,
        [data-slide="3"] .content_step-intro__3 &,
        [data-slide="4"] .content_step-intro__4 &,
        [data-slide="5"] .content_step-intro__5 & {
            animation: 3s ease-in-out step-title-right .8s forwards;
            opacity: 1;
        }
    }

    &_frame {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

@keyframes text-appearance {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes text-leave {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes text-leave {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@-webkit-keyframes step-appearance {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes step-appearance {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes step-intro-appearance {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    99% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes step-leave {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes step-title-left {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }

    25% {
        opacity: 1;
        transform: translateX(-325px);
    }

    75% {
        opacity: 1;
        transform: translateX(-325px);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%);
    }
}

@keyframes step-title-right {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    25% {
        opacity: 1;
        transform: translateX(325px);
    }

    75% {
        opacity: 1;
        transform: translateX(325px);
    }

    100% {
        opacity: 0;
        transform: translateX(50%);
    }
}

@keyframes side-dark {
    0% {
        background: rgba(0, 0, 0, 0.4);
    }

    100% {
        background: rgba(0, 0, 0, 0.7);
    }
}

@keyframes side-light {
    0% {
        background: rgba(0, 0, 0, 0.7);
    }

    100% {
        background: rgba(0, 0, 0, 0);
    }
}

@keyframes side-extra-dark {
    0% {
        background: rgba(0, 0, 0, 0.4);
    }

    100% {
        background: rgba(0, 0, 0, 0.5);
    }
}

@keyframes engine {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
