.intro {
    background: #000;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease opacity,
                0s ease visibility;

    .show-intro & {
        visibility: visible;
        opacity: 1;
    }
    .loaded & {
        visibility: hidden;
        opacity: 0;
    }
    iframe {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
    &_close {
        color: #fff;
        font-size: 12px;
        position: absolute;
        left: 50%;
        bottom: 50px;
        transform: translateX(-50%);
        background: rgba(0, 0, 0, .3);
        border: 1px solid rgba(255, 255, 255, .8);
        border-radius: 0;
        transition: .2s ease opacity;

        &:hover {
            background: inherit;
            color: inherit;
            opacity: .7;
        }
    }
}