.logo {
    background: url(#{$img-path}/logo.png) no-repeat center top;
    background-size: 100% auto;
    position: absolute;
    top: 15px;
    left: 50%;
    height: 50px;
    width: 100px;
    transform: translate(-50%, 0);
    z-index: 2;
    @include mobile {
        height: 40px;
        width: 83px;
        z-index: 4;
    }
}
body {
    background: #000;
}
