.menu-toggle {
    box-sizing: border-box;
    border: none;
    background: $light_color;
    padding: 0;
    height: 2px;
    width: 20px;
    overflow: visible;
    min-width: inherit;
    position: absolute;
    right: 29px;
    top: 29px;
    z-index: 5;
    transition: .2s ease background;
    @include desktop {
        display: none;
    }

    &:hover {
        background: $light_color;
    }
    &::before {
        content: '';
        background: $light_color;
        position: absolute;
        top: -8px;
        left: 0;
        width: 24px;
        height: 2px;
        transition: .2s ease-in-out height, .2s ease-in-out transform;
    }
    &::after {
        content: '';
        background: $light_color;
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 24px;
        height: 2px;
        transition: .2s ease-in-out height, .2s ease-in-out transform;
    }

    &.opened {
        background: transparent;
    }
    &.opened::before {
        transform: rotateZ(45deg) translate(8px, 3px);
    }
    &.opened::after {
        transform: rotateZ(-45deg) translate(8px, -4px)
    }
}
