.mouse {
    background: url(#{$img-path}/icons/mouse-icon.svg) no-repeat center -70px;
    height: 100px;
    width: 40px;
    z-index: 2;
    transition: .2s ease opacity;
    opacity: 0;

    .loaded & {
        animation: 1s ease-in-out mouse-appearance 1s forwards,
                   2s ease-in-out scroll 2s infinite;
    }
    .scrolled & {
        animation: .5s ease-in-out mouse-leave forwards;
    }
}

@keyframes mouse-appearance {
    0% {
        opacity: 0;
        transform: translate(0, 100%);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}
@keyframes mouse-leave {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 25%);
    }
    75% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}
