.mouse {
    background: url(#{$img-path}/icons/mouse-icon.svg) no-repeat center center;
    position: absolute;
    top: 100%;
    left: 50%;
    height: 146px;
    width: 40px;
    transform: translate(-50%, 0);
    z-index: 2;
    transition: .2s ease opacity;
    opacity: 0;

    .loaded & {
        animation: 2s ease-in-out scroll 1s infinite;
        opacity: 1;
    }
    .scrolled & {
        opacity: 0;
    }
}

@keyframes scroll {
    0% {
        transform: translate(-50%, 0);
    }
    25% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, 25%);
    }
    75% {
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
}
