.venom {
    position: fixed;
    top: 22%;
    overflow: visible;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 3;
    display: none;

    &_wrapper {
        padding: 17px;
        height: 197px;
        width: 197px;
        opacity: 0;
        visibility: hidden;
        transition: .2s ease-in-out .2s opacity, 0s ease-in-out visibility;

        [data-slide="1"] .venom__1 &,
        [data-slide="2"] .venom__2 &,
        [data-slide="3"] .venom__3 &,
        [data-slide="4"] .venom__4 &,
        [data-slide="5"] .venom__5 & {
            transition: .2s ease-in-out opacity, 0s ease-in-out .2s visibility;
            opacity: 1;
            visibility: visible;
        }

        &::before {
            content: '';
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 3px solid #fff;
            opacity: 0;
            clip: rect(auto, 116px, auto, auto);
            transition: 1s ease 1.1s opacity, 1s ease transform;

            [data-slide="1"] .venom__1 &,
            [data-slide="2"] .venom__2 &,
            [data-slide="3"] .venom__3 &,
            [data-slide="4"] .venom__4 &,
            [data-slide="5"] .venom__5 & {
                animation: 4.5s ease-out venom-rotate .8s forwards;
                opacity: 1;
            }
            
        }
        &::after {
            content: '';
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 3px solid rgba(255, 255, 255, 0.5);
            clip: rect(auto, auto, auto, 116px);
            opacity: 0;
            transition: 1s ease .8s opacity;

            [data-slide="1"] .venom__1 &,
            [data-slide="2"] .venom__2 &,
            [data-slide="3"] .venom__3 &,
            [data-slide="4"] .venom__4 &,
            [data-slide="5"] .venom__5 & {
                animation: 4.5s ease-out venom-rotate .8s forwards;
                opacity: 1;
            }
        }
    }
    &_image {
        border-radius: 50%;
        position: relative;
        z-index: 2;
        position: absolute;
        left: 17px;
        top: 17px;
        opacity: 0;

        [data-slide="1"] .venom__1 &,
        [data-slide="2"] .venom__2 &,
        [data-slide="3"] .venom__3 &,
        [data-slide="4"] .venom__4 &,
        [data-slide="5"] .venom__5 & {
            animation: 4.5s ease-out venom-image .2s forwards;
        }
    }
    &_face {
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
        z-index: 1;

        [data-slide="1"] .venom__1 &,
        [data-slide="2"] .venom__2 &,
        [data-slide="3"] .venom__3 &,
        [data-slide="4"] .venom__4 &,
        [data-slide="5"] .venom__5 & {
            animation: .5s ease-out face-appearance 2s forwards;
        }
    }
}

@keyframes venom-image {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    15% {
        opacity: 1;
        transform: scale(1);
    }
    85% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

  
@keyframes face-appearance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

  
@keyframes venom-rotate {
    0% {
        transform: rotate(0) scale(1);
    }
    33% {
        transform: rotate(-180deg) scale(1);
    }
    75% {
        transform: rotate(-180deg) scale(1);
    }
    90% {
        transform: rotate(-180deg) scale(0.5);
    }
    100% {
        transform: rotate(-180deg) scale(0.5);
    }
}
